td.dayname,td.starthour{
    width:8%;
}
td.levelname{
    width:25%;
}
/*html body{
    background-color: white;
    margin-top:20px;
}*/
.school h4{
    margin-top:10px;
}
.school{
    margin-top:40px;
}
.school-description{
    clear:both;
    font-size:0.9em;
    color:rgb(100, 100, 100);
}
.school-info .fa{
    font-size:1.2em;
}
.school-info a{
    margin-right: 10px;
}
.lessons .sm{
    display:none;
}
@media screen and (max-width: 480px) {
    .lessons .sm{
        display:inline;
    }
    .lessons .lg{
        display: none;
    }

    #agenda-calendar td, #agenda-calendar th{
        padding:2px;
        font-size:0.9em;
    }
}
.events h6{
    color: #777;
    font-size:0.9em;
}
.events h5{
    color: #555;
    text-transform: uppercase;
    clear:none;
    font-size:0.85em;
}
.events h5 a{
    color: #555;
}
.events h4{
    margin-bottom: 2px;
    margin-top:4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 10px;
    /*margin-top: 40px;*/
    font-size: 1em;
    color: #333;
    font-weight: normal;
    padding-bottom:0;
    clear:none;
}
.events h3,.agenda-set h3{
    color: #F66062;
    margin-top: 15px;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 1.17em;
}
.agenda-set h2.date{
    text-align: center;
    font-size:1.6em;
    /*display: none;*/
    margin-bottom: 20px;
}
.agenda-set h2{
    margin-bottom: 10px;
    text-align: center;
}
.events .milonga-data{
    color: #333;
    font-size:1em;
    margin-left:48px;
}
.events .milonga-description{
    margin-top: 8px;
    padding-top: 4px;
    font-size: 0.9em;
    margin-left:48px;
    color: #777;
}
.V13{
    margin-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    /*border-top: 1px #BBB dashed;*/
    line-height: 1.2;
}
.milonga-description img{   
    max-width: 100%;
}
.milonga-description a.swipebox{
    margin-top: 0.7em;
}
.milonga-description a{
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.milonga-description .more-link{
    position: relative;
    height: 5.1em;
    overflow: hidden;
    cursor:pointer;
    line-height: 1.3em;
}
.milonga-description .more-link:after{
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5.1em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
/*.events a.more-link,
.events a.less-link {
    margin-top: 5px;
    font-size: 0.8em;
    font-style: italic;
}
.events a.more-link{
    display: block;
}*/
.events a.less-link{
    display:none;
}
.milonga-description .more-content{
    display: none;
    position: relative;
    top:-5.1em;
    margin-bottom: -5.1em;
    /*min-height:5.2em;*/
    cursor: pointer;
    line-height: 1.3em;
}
div.single-post .milonga-description p{
    margin-bottom:0em;
    line-height: 1.3em;
}
/*@media screen and (max-width: 480px) {
    .milonga-description p.more-link,.milonga-description p.more-content{
        text-align: justify;
    }
}*/
#agenda-calendar td.selected a{
    font-weight: bold;
    color:white;
}
#agenda-calendar td.selected{
    background-color:#F66062; 
}
td.other_month a{
    color:#666;
}
#agenda-calendar td a.text-muted{
    opacity: 0.5;
}
#agenda-calendar td,#agenda-calendar th{
    text-align: center;
}
#agenda-calendar td a{
    width:100%;
    height:100%;
    display: block;
}
#agenda-calendar td:hover{
    background: #eee;
    cursor: pointer;
    border-radius: 3px;
}
.agenda-day-Sat{
    border-left: 1px solid #ddd;
}
.agenda-daynames td{
    border-top:none !important;
}
.set{
    margin-bottom: 35px;
}
.prev-month,.next-month{
    font-size:0.8em;
}
.event_icon{
    float:left;
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right:8px;
    margin-top:4px;
    margin-bottom:8px;
}
.img_mask{
    height: 238px;
    position: relative;
    display: block;
    /*overflow: hidden;*/
    border-radius: 5px;
    cursor: zoom-in;
    background-size:cover;
    background-position: top;
    box-shadow: inset 0 0 7px 4px rgba(0, 0, 0, .05);
}
.horiz_img_mask{
    height:180px;
}
@media screen and (max-width: 480px) {
    .img_mask{
        height: 120px;
    }
    .horiz_img_mask{
        height:100px;
    }
}
/*.img_mask img{
    position: absolute;
    top:0;
    width:100%;
}*/
/*.event_icon:after{
    border: 1px solid rgba(0, 0, 0, .1);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}*/
.schedules{
    display:none;
}
#search-icon{
    font-size: 0.5em;
    line-height: 1.8em;
    padding-right:2em;
}
#navbar-agenda{
    background-color:#F9F9F9;
    width:100%;
    margin-bottom: 15px;
}
#navbar-agenda li{
    width:50%;
    /*text-align: center;*/
    position: relative;
}

#navbar-agenda li a{
    text-transform: uppercase;
}
#navbar-agenda li em{
    position: absolute;
    right:10px;
    top:10px;
    background-color:white;
    font-style: normal;
    border-radius: 15px;
    height:30px;
    width:30px;
    line-height: 30px;
    text-align: center;
    color:#F66062;
    font-weight: bold;
}
@media screen and (max-width: 480px) {
    #navbar-agenda{
        margin:0;
    }
    #navbar-agenda li{
        float:left;
    }
    #navbar-agenda li em{
        top:5px;
    }
}
@media screen and (max-width: 480px) {
    #navbar-agenda li em{
        display: none;
    }
    #search-icon{
        display: none;
    }
}
#navbar-agenda li.active{
    background-color: #F66062;
}
#navbar-agenda li.active a{
    color:white;
}
.special-event .description p{
    margin-bottom:0;
}
.badge{
    background-color: #e7e7e7;
    font-weight: normal;
    color:#777;
    border-radius:5px;
    padding-left:5px;
    padding-right:5px;
    font-size:0.9em;
    margin-top:4px;
}
.quicklinks{
    text-align: center;
    min-height:70px;
}
.quicklinks .quicklink{
    display: inline-block;
    color:#666;
    font-size:11px;
}
.quicklinks .quicklink img{
    width:35px;
    height:35px;
    border-radius: 50%;
    overflow: hidden;
    margin-left:4px;
    margin-right:4px;
    margin-top:4px;
    margin-bottom:1px;
}
@media screen and (max-width: 480px) {
    .quicklinks{
        display: none;
    }
    .quicklinks .quicklink img{
        width:20px;
        height:20px;
    }
}
.cancelled{
    opacity:0.7;
}
.cancelled h4 span{
    text-decoration: line-through;
}
.cancelled h4 i{
    color:red;
}
b.title_canceled{
    text-decoration: line-through;
}
.special-event h3,.special-event h5{
    clear:none;
}
.special-event h5{
    color: #555;
    text-transform: uppercase;
    clear:none;
    font-size:0.85em;
}
.special-event h5 a{
    color: #555;
}
.post-list .post-block img.event_icon{
    margin-top:4px;
}
.cities{
    padding-bottom: 20px;
    text-align: center;
}
.cities a.selected img{
    border: 2px solid #F66062;
    border-radius: 32px;
}
#empty-set{
    text-align: center;
    padding: 15px;
    margin-bottom: 45px;
}